/* 导航栏 */
*{
	margin:0px auto;
	padding: 0px;
}
body{
	overflow-x:hidden; 
}
a:hover{
	text-decoration: none !important;
}
#head{
	width: 100%;
}
.navbar-header{
	margin-top:0px;
	margin-left: 60px !important;
}
.navbar-brand img{
	width: 50px;
	height: 50px;
	margin-top: -5px;
}
.navbar-brand h3{
	line-height: 5px !important;
	font-weight: bold;
	color: #2DC17A !important;
	margin-left: -10px !important;
}
#lognav{
	width: 100%;
	height: 70px;
}
.navbar-nav{
	margin-right: 80px !important; 
	margin-top: 10px !important;
}
.navbar-nav li a:hover{
	color: #2DC17A !important;
	
	color: #008080!important;
}
#navbartop{
	opacity: 0.9;
	background: #5a5c51;
	margin-top: -20px;
}
	width:600px;
	height: 30px;
	margin-left: 70px;
	border: none;
}

#topnav #search{
	margin-top:50px;
	padding-left:50px;
	/* position:absolute; */
	
	
}

#topnav li a{
	font-family: "微软雅黑";
	color: #fff !important;
	font-size: 18px;
	margin-top: -10px;
	height: 48px;
	width: 100px;
	text-align: center;
}

#topnav li a:hover{
	background-color: #2DC17A;
}




/* 底部 */
#myfooter{
    width:100%;
    height:100px;
    background-color:#6A6C62;
}

#footer_content{
    width:400px;
    height:20px;
    /*background-color:#eeeeee;*/
}
#myrow span,#footer_content p{
    font-family:"微软雅黑";
    margin-top:10px;
    font-size:15px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}