*{
	margin:0px auto;
	padding: 0px;
}

/* 后台用户头像显示 show_img*/
.show_img{
    position: relative;
    border: none;
    top:2px;
    right:1px;
    float:left;
    width:35px;
    height:25px;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url("../images/img.png");
}


.form-group .show_img{
    position: relative;
    border: none;
    top:0px;
    right:1px;
    float:right;
    width:35px;
    height:30px;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url("../images/img.png");
}


.navbar-ht {
  background-color: #6A6C62; /* #30C27B  */
}
.navbar-ht .navbar-brand {
  color: #30C27B;
}
.navbar-ht .navbar-brand:hover,
.navbar-ht .navbar-brand:focus {
  color: #30C27B;
  background-color: transparent;
}
.navbar-brand img{
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

.navbar-brand h4{
	margin-top: 0px;
	margin-right: 20px;
}

.navbar-ht .navbar-text {
  color: #ffffff;
}
.navbar-ht .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-ht .navbar-nav > li > a:hover,
.navbar-ht .navbar-nav > li > a:focus {
  color: #F8F8F8;
  background-color: transparent;
}

.navbar-ht .navbar-collapse,
.navbar-ht .navbar-form {
  border-color: #262626;
}

@media (max-width: 639px) {
  .navbar-ht .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #30C27B;
  }
  .navbar-ht .navbar-nav .open .dropdown-menu .divider {
    background-color: #30C27B;
  }
  .navbar-ht .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-ht .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ht .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #444444;
    background-color: #6A6C62;
  }

}


/***************************移动div*********************************/
.mydiv{
    width:100%;
    height:61px;
    position: absolute;
    top:0px;
    left:0px;
    margin-top:-10px;
    background-color:#2DC17A;
}


/**********************************内容*********************************************/
/****manage.jsp****/
#articleDiv{
	float:left;
	width: 179px;
	margin-top: -20px;
	text-align: center;
}
.nav-pills > li > a {
	height: 50px;
	color: #30C27B;
	line-height: 20px;
}

#panelDiv{
	float:left;
	width: 80%;
	margin-top: -14px;
}

#panelDiv nav{
	text-align: center;
}

#panelDiv nav li{
	color: #30C27B;
}

/****manageRefer.jsp****/

#panelDiv .form-inline{
	text-align: center;
	margin-top: 130px;
	margin-bottom: 250px;
}

#panelDiv .form-inline input{
	width: 300px;
	height: 50px;
	font-size: 18px;
	margin-left: -40px;
}

#panelDiv .form-inline button{
	margin-left: 10px;
	width: 80px;
	font-size: 16px;
	color: #777;
}


/****manageModify.jsp****/
#panelDiv .formDiv{
	margin-left:200px;
	margin-top:30px;
	margin-bottom:50px;
	width:300px;
}
#sopicPath{
	width: 80px;
	height: 80px;
}

#labelid{
	font-size: 16px;
	margin-left: 10px;
}


#sppicPath{
	width: 80px;
	height: 80px;
}
#upicPath{
	width: 80px;
	height: 80px;
}
/**************************manageAdd.css*********************************/
#formRefer{
	width: 200px;
	height: 10px;
	margin-top: -27px;
	margin-right: -140px;
	margin-left: 0px;
}
#formRefer input{
	width: 140px;
	border: 1px #F9F9F9 solid;
}
#formRefer a{
	width: 50px;
	margin-left: 140px;
	margin-top: -55px; 
	border: 0px;
}

/*******************************底部*****************************************/
#myfooter{
	margin-bottom:0px;
	float:left;
    width:100%;
    height:100px;
    background-color:#6A6C62;
}

#footer_content{
    width:400px;
    height:20px;
}
#myrow span,#footer_content p{
    font-family:"微软雅黑";
    margin-top:10px;
    font-size:15px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.contents{
	 display:block;
     word-break:keep-all; 
     width:200px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }
 
 



