.navbar-ht {
  background-color: #6A6C62; /* #30C27B  */
}
.navbar-ht .navbar-brand {
  color: #30C27B;
}
.navbar-ht .navbar-brand:hover,
.navbar-ht .navbar-brand:focus {
  color: #30C27B;
  background-color: transparent;
}
.navbar-brand img{
	width: 40px;
	height: 40px;
	margin-top: -10px;
}

.navbar-brand h4{
	margin-top: 0px;
	margin-right: 20px;
}

.navbar-ht .navbar-text {
  color: #ffffff;
}
.navbar-ht .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-ht .navbar-nav > li > a:hover,
.navbar-ht .navbar-nav > li > a:focus {
  color: #F8F8F8;
  background-color: transparent;
}
.navbar-ht .navbar-nav > .active > a,
.navbar-ht .navbar-nav > .active > a:hover,
.navbar-ht .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #30C27B;
}
.navbar-ht .navbar-nav > .disabled > a,
.navbar-ht .navbar-nav > .disabled > a:hover,
.navbar-ht .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-ht .navbar-toggle {
  border-color: #333333;
}
.navbar-ht .navbar-toggle:hover,
.navbar-ht .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-ht .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-ht .navbar-collapse,
.navbar-ht .navbar-form {
  border-color: #262626;
}
.navbar-ht .navbar-nav > .open > a,
.navbar-ht .navbar-nav > .open > a:hover,
.navbar-ht .navbar-nav > .open > a:focus {
  background-color: #30C27B;
  color: #ffffff;
}
@media (max-width: 639px) {
  .navbar-ht .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #30C27B;
  }
  .navbar-ht .navbar-nav .open .dropdown-menu .divider {
    background-color: #30C27B;
  }
  .navbar-ht .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-ht .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ht .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-ht .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-ht .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-ht .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #30C27B;
  }
  .navbar-ht .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-ht .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-ht .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-ht .navbar-link {
  color: #ffffff;
}
.navbar-ht .navbar-link:hover {
  color: #ffffff;
}
.navbar-ht .btn-link {
  color: #ffffff;
}
.navbar-ht .btn-link:hover,
.navbar-ht .btn-link:focus {
  color: #ffffff;
}
.navbar-ht .btn-link[disabled]:hover,
fieldset[disabled] .navbar-ht .btn-link:hover,
.navbar-ht .btn-link[disabled]:focus,
fieldset[disabled] .navbar-ht .btn-link:focus {
  color: #444444;
}

/***************************移动div*********************************/
.mydiv{
    width:100%;
    height:61px;
    position: absolute;
    top:0px;
    left:0px;
    margin-top:-10px;
    background-color:#2DC17A;
}

@-webkit-keyframes  move1{
    20%{
        left:40px;
    }
    40%{
        left:0px;
    }
    60%{
        left:-40px;
    }
    80%{
        left:0px;
    }
    100%{
        left:0px;
    }

}
@-moz-keyframes  move1{
    20%{
        left:40px;
    }
    40%{
        left:0px;
    }
    60%{
        left:-40px;
    }
    80%{
        left:0px;
    }
    100%{
        left:0px;
    }

}
@-webkit-keyframes  move2{
    20%{
        left:140px;
    }
    40%{
        left:100px;
    }
    60%{
        left:60px;
    }
    80%{
        left:100px;
    }
    100%{
        left:100px;
    }

}
@-moz-keyframes  move2{
    20%{
        left:140px;
    }
    40%{
        left:100px;
    }
    60%{
        left:60px;
    }
    80%{
        left:100px;
    }
    100%{
        left:100px;
    }

}
@-webkit-keyframes  move3{
    20%{
        left:240px;
    }
    40%{
        left:200px;
    }
    60%{
        left:160px;
    }
    80%{
        left:200px;
    }
    100%{
        left:200px;
    }

}
@-moz-keyframes  move3{
    20%{
        left:240px;
    }
    40%{
        left:200px;
    }
    60%{
        left:160px;
    }
    80%{
        left:200px;
    }
    100%{
        left:200px;
    }

}
@-webkit-keyframes  move4{
    20%{
        left:340px;
    }
    40%{
        left:300px;
    }
    60%{
        left:260px;
    }
    80%{
        left:300px;
    }
    100%{
        left:300px;
    }

}
@-moz-keyframes  move4{
    20%{
        left:340px;
    }
    40%{
        left:300px;
    }
    60%{
        left:260px;
    }
    80%{
        left:300px;
    }
    100%{
        left:300px;
    }

}
@-webkit-keyframes  move5{
    20%{
        left:440px;
    }
    40%{
        left:400px;
    }
    60%{
        left:360px;
    }
    80%{
        left:400px;
    }
    100%{
        left:400px;
    }

}
@-moz-keyframes  move5{
    20%{
        left:440px;
    }
    40%{
        left:400px;
    }
    60%{
        left:360px;
    }
    80%{
        left:400px;
    }
    100%{
        left:400px;
    }


