<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件的命名空间namespace的值，与之对应的映射接口的全类名 -->
<mapper namespace="com.yc.ht.mapper.AdminMapper">

	<!--用户登录  -->
	<select id="login" parameterType="Admin" resultType="Admin">
		select * from admin where (aname=#{aname} and apwd=#{apwd}) or (aid=#{aname} and apwd = #{apwd})
	</select>
	
</mapper>