<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件的命名空间namespace的值，与之对应的映射接口的全类名 -->
<mapper namespace="com.yc.ht.mapper.CommentMapper">
	<!-- 分页显示评论动态 -->
	<select id="findComment" parameterType="PaginationBean" 
		resultMap="PaginationBeanMap" useCache="false" flushCache="true">
		select count(1) total,ceil(count(1)/${pageSize}) totalPage,
		${pageSize} pageSize,${currPage} currPage from comments
	</select>
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage}" ofType="Comments"
			select="getComments" />
	</resultMap>
	
	<select id="getComments" resultMap="CommentsMap" useCache="false" flushCache="true">
		select * from 
		(select rownum rn,
		c.* from (select * from Comments order by cid desc ) c
		 where  ${pageSize} *${currPage} >=rownum) where rn>( ${currPage} - 1) * ${pageSize}
	</select>
	
	<resultMap type="Comments" id="CommentsMap">
		<id column="cid" property="cid"/>
		<result column="userid" property="userid" />
		<result column="content" property="content" />
		<result column="commentTime" property="commentTime" />
		<result column="commentPicPath" property="commentPicPath" />
		<association property="user"
			column="userid" javaType="Users"
			select="findUserImg" /><!-- 通过singer的实体类将两个表连接 -->
	</resultMap>
	<select id="findUserImg" parameterType="int" resultType="Users">
		select *
		from Users where userid=#{userid}
	</select>
		
		
	<!-- 发表评论 -->
	<insert id="insertComment" parameterType="Comments">
		insert into comments values (seq_comments_cid.nextval,
		<choose>
			<when test="userid!=null">#{userid}</when>
			<otherwise>''</otherwise>
		</choose>
		,
		<choose>
			<when test="content!=null">#{content}</when>
			<otherwise>''</otherwise>
		</choose>
		,sysdate,
		<choose>
			<when test="commentPicPath!=null">#{commentPicPath}</when>
			<otherwise>''</otherwise>
		</choose>
		,'')
	</insert>
</mapper>