<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件的命名空间namespace的值，与之对应的映射接口的全类名 -->
<mapper namespace="com.yc.ht.mapper.CommentMapper">

	<select id="findComment" resultType="Comments">
		select * from Comments
	</select>

	<insert id="insertComment" parameterType="Comments">
		insert into comments values (seq_comments_cid.nextval,10001,
		<choose>
			<when test="content!=null">#{content}</when>
			<otherwise>''</otherwise>
		</choose>
		,sysdate,
		<choose>
			<when test="commentPicPath!=null">#{commentPicPath}</when>
			<otherwise>''</otherwise>
		</choose>
		,'')
	</insert>
</mapper>