<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件的命名空间namespace的值，与之对应的映射接口的全类名 -->
<mapper namespace="com.yc.ht.mapper.MvMapper">
	
	<!-- Mv显示使用分页 -->
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage}" ofType="Mv"
			select="getPaginationMv" />
	</resultMap>

	<select id="findPaginationMv" parameterType="PaginationBean"
		resultMap="PaginationBeanMap" useCache="false" flushCache="true">
		select count(1) total,ceil(count(1)/${pageSize}) totalPage,
		${pageSize} pageSize,${currPage} currPage from mv
	</select>

	<select id="getPaginationMv" resultMap="MvMap" useCache="false" flushCache="true">
		select * from
		(select n.*,rownum rn from (select *
		from mv order by 1) n
		where ${pageSize} *
		${currPage} >= rownum) where rn > ( ${currPage} - 1) * ${pageSize}
	</select>
	
	<resultMap type="Mv" id="MvMap">
		<id column="mvid" property="mvid"/>
		<result column="mvname" property="mvname" />
		<result column="sgname" property="sgname" />
		<result column="soname" property="soname" />
		<result column="mvduration" property="mvduration" />
		<result column="mvpicPath" property="mvpicPath" />	
		<result column="mvpubTime" property="mvpubTime" />	
		<result column="mvPath" property="mvPath" />	
		
		<association property="singer"
			column="sgid" javaType="Singer"
			select="findSingerName" /><!-- 通过singer的实体类将两个表连接 -->
		<association property="song"
			column="soid" javaType="Song"
			select="findSongName" /><!-- 通过song的实体类将两个表连接 -->
	</resultMap>

	<select id="findSingerName" parameterType="int" resultType="Singer">
		select *
		from singer where sgid=#{sgid}
	</select>
	<select id="findSongName" parameterType="int" resultType="Song"> 
		select * from song where soid=#{soid} 
	</select>
	
	
	<!-- MV删除 -->
	<delete id="removeMv" parameterType="integer">
		delete mv where mvid=#{mvid}
	</delete>
	
	<!-- 首页显示专辑 -->
	<select id="findMv" resultType="Mv">
		select * from mv order by mvpubTime
	</select>
	
	<!-- MV的查询 -->
	<select id="findReferMV" parameterType="String" resultMap="MvMap"> 
		select * from Mv where mvName like '%${_parameter}%'
	</select>

</mapper>