<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件的命名空间namespace的值，与之对应的映射接口的全类名 -->
<mapper namespace="com.yc.ht.mapper.SongMapper">

	<!--index界面的歌曲显示  -->
	<select id="findSong"  resultType="Song">
		select * from song 
	</select>
	
	<!-- 更具id查询歌曲 -->
	<select id="findSongById" parameterType="integer" resultType="Song">
		select * from song where soid=#{soid}
	</select>
	
	<!-- 单曲显示使用分页 -->
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage}" ofType="Song"
			select="getPaginationSong" />
	</resultMap>

	<select id="findPaginationSong" parameterType="PaginationBean"
		resultMap="PaginationBeanMap" useCache="false" flushCache="true">
		select count(1) total,ceil(count(1)/${pageSize}) totalPage,
		${pageSize} pageSize,${currPage} currPage from song
	</select>

	<select id="getPaginationSong" resultType="Song" useCache="false" flushCache="true">
		select * from
		(select n.*,rownum rn from (select *
		from song order by 1) n
		where ${pageSize} *
		${currPage} >= rownum) where rn > ( ${currPage} - 1) * ${pageSize}
	</select>
	

	<select id="HOT" resultType="Singer" parameterType="String">
		select * from singer where sgEname like '${_parameter}'
	</select>
	<!-- 单曲删除 -->
	<delete id="removeSong" parameterType="integer">
		delete song where soid=#{soid}
	</delete>
	
	<!-- 单曲修改 -->
	<update id="modifySong" parameterType="Song">
		update song
		<set>
			<if test="soname!=null">soname=#{soname},</if>
			<if test="sopicPath !=null">sopicPath=#{sopicPath},</if>
			<if test="solyricPath !=null">solyricPath = #{solyricPath},</if>
			<if test="sopath !=null">sopath=#{sopath},</if>
			<if test="vipDownload != null">vipDownload=#{vipDownload}</if>
		</set>
		where soid=#{soid}
	</update>
	
	<!-- 单曲查询(根据soname) -->
	<select id="findSongByName" parameterType="string" resultType="Song">
		select * from song where soname like '%${_parameter}%'
	</select>
</mapper>