<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件的命名空间namespace的值，与之对应的映射接口的全类名 -->
<mapper namespace="com.yc.ht.mapper.SongMapper">

	<!--index界面的歌曲显示  -->
	<select id="findSong"  resultType="Song">
		select * from song where 10>= rownum 
	</select>
	
	<!-- 更具id查询歌曲 -->
	<select id="findSongById" parameterType="integer" resultType="Song">
		select * from song where soid=#{soid}
	</select>
	
	<resultMap type="Song" id="SongSingerMap">
		<id column="soid" property="soid"/>
		<result column="spid" property="spid"/>
		<result column="soname" property="soname"/>
		<result column="sopicPath" property="sopicPath"/>
		<result column="sopubTime" property="sopubTime"/>
		<result column="solyricPath" property="solyricPath"/>
		<result column="sopath" property="sopath"/>
		<result column="vipDownload" property="vipDownload"/>
		<collection property="singer" column="{sgid=sgid}" ofType="Singer" select="findSingerByid"/>
	</resultMap>
	
	<select id="findSingerByid" resultType="Singer">
		select * from singer where sgid=${sgid}
	</select>
	
	<select id="finSongAndSingerById" parameterType="integer" resultMap="SongSingerMap">
		select * from song where soid=#{soid} 
	</select>
	
	<!-- 单曲显示使用分页 -->
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage}" ofType="Song"
			select="getPaginationSong" />
	</resultMap>

	<select id="findPaginationSong" parameterType="PaginationBean"
		resultMap="PaginationBeanMap" useCache="false" flushCache="true">
		select count(1) total,ceil(count(1)/${pageSize}) totalPage,
		${pageSize} pageSize,${currPage} currPage from song
	</select>

	<select id="getPaginationSong" resultType="Song" useCache="false" flushCache="true">
		select * from
		(select n.*,rownum rn from (select *
		from song order by 1) n
		where ${pageSize} *
		${currPage} >= rownum) where rn > ( ${currPage} - 1) * ${pageSize}
	</select>
	
	<!-- 单曲删除 -->
	<delete id="removeSong" parameterType="integer">
		delete song where soid=#{soid}
	</delete>
	
	<!-- 单曲修改 -->
	<update id="modifySong" parameterType="Song">
		update song
		<set>
			<if test="soname!=null">soname=#{soname},</if>
			<if test="sopicPath !=null">sopicPath=#{sopicPath},</if>
			<if test="solyricPath !=null">solyricPath = #{solyricPath},</if>
			<if test="sopath !=null">sopath=#{sopath},</if>
			<if test="vipDownload != null">vipDownload=#{vipDownload}</if>
		</set>
		where soid=#{soid}
	</update>
	
	<!-- 单曲查询模糊(根据soname) -->
	<select id="findSongByName" parameterType="string" resultType="Song">
		select * from song where soname like '%'||#{soname}||'%'
	</select>
	
	<select id="findSongName" parameterType="Song" resultType="Song">
		select * from song where soname = #{soname} and sgid =#{sgid} and spid = #{spid}
	</select>
	
	<!--添加单曲  -->
	<insert id="addSong" parameterType="Song">
		insert into song values(seq_song_soid.nextval,#{sgid},
		<choose><when test="spid != null">#{spid}</when><otherwise>''</otherwise></choose>,#{soname},
		<choose><when test="sopicPath != null">#{sopicPath}</when><otherwise>''</otherwise></choose>,
		<choose><when test="sopubTime != null">#{sopubTime}</when><otherwise>sysdate</otherwise></choose>,
		#{solyricPath},#{sopath},
		<choose><when test="soduration != null">#{soduration}</when><otherwise>300</otherwise></choose>,
		<choose><when test="vipDownload != null">#{vipDownload}</when><otherwise>default</otherwise></choose>,'')
	</insert>
</mapper>