<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射文件的命名空间namespace的值，与之对应的映射接口的全类名 -->
<mapper namespace="com.yc.ht.mapper.UserMapper">

	<!--用户登录  -->
	<select id="login" parameterType="Users" resultType="Users">
		select * from users where (uname=#{uname} and upwd=#{upwd}) or (uemail=#{uname} and upwd = #{upwd})
	</select>
	
	<insert id="zhuce" parameterType="Users">
		insert into users values (seq_users_uid.nextval,#{uname},#{upwd},#{uemail},'','',default,default,'')
	</insert>
    
     
    
     
	<select id="Singgg" parameterType="Song" resultType="Song" >
		 select * from song  	
	</select>
	
	<select id="Sonngg" parameterType="String" resultType="Singer" >
		 select * from Singer where sgid like '${_parameter}' 
		 							 	
	</select>
	
</mapper>